@media (max-width:600px) {
    
    .grid-responsive,.grid-responsive-2 {
        display:grid !important;
        grid-template-columns: repeat(1,1fr) !important;
    }
    .responsive{
        font-size: 1.5rem !important; 
    }
}