@media only screen and (max-width: 600px) {
    .responsive-h1{
        font-size:1.5rem !important;
        
    }
    .grid-responsive,.grid-responsive-2{
        display:grid !important;
        grid-template-columns: repeat(1,1fr)!important;
    }
    
}